*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:"League Spartan";
    src: url("../assets/fonts/LeagueSpartan-Regular.ttf");
}
@font-face {
    font-family:"Sifonn";
    src: url("../assets/fonts/SIFONN_BASIC_OUTLINE.otf");
}
@font-face {
    font-family:"Unlearns";
    src: url("../assets/fonts/unlearn2.ttf");
}
@font-face {
    font-family:"Tourney";
    src: url("../assets/fonts/Tourney_Condensed-Medium.ttf");
}

/*HEADER*/

header div{
    width: 160px;
    height: 156.301px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #BFAE9D;
    text-decoration: none;
    border: 2px solid #000;
}

header div a{
    width: 144px;
    height: 140.671px;
    display: flex;
}

nav{
    width: 76.5rem;
    height: 5.6781rem;
    text-decoration: none;
    border-radius: 80px;
    border: 2px solid #000;
    background: #BFAE9D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav li{
    display: inline;
}

nav li a {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 1.7569rem 0 1.6087rem 0;
}

nav :hover{
    color: #000;
}
/*MAIN*/

.section1-inicio{
    width: 90rem;
    height: 35.625rem;
    border-radius: 1px;
    border: .3125rem solid #5F4136;
    background-image: url("../assets/img/fondocafe1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

.img1-inicio{
    width: 685px;
    height: 570px;
}

.img2-inicio{

    width: 597px;
    height: 565px;
}


.section2-inicio{
    width: 90rem;
    height: 413px;
    margin-top: 1.875rem;
    background-image: url("../assets/img/Fondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Unlearns";
    text-align: center;
    font-size: 110px;
    font-style: normal;
    font-weight: 500;
    line-height: 100px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 3.125rem;
    border-radius: 125px;
    border: 5px solid #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section2-inicio span{
    font-family: "Tourney";
    color: #FFF;
    font-size: 140px;
    font-style: normal;
    font-weight: 500;
    line-height: 120px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section3-inicio{
    text-align: center;
}

.section3-inicio div img{
    margin: 1.875rem ;

}

.enlace{
    margin: 1.875rem;
    width: 657px;
    height: 450px;
    border-radius: 128px;
    border: 5px solid #5F4136;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-image: url("../assets/img/fondocafe1.jpeg");
}


.enlace a{
    width: 38.625rem;
    height: 28.125rem;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: "Tourney";
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    backdrop-filter: blur(2px);
    text-decoration: none;
    border: #000;
    -webkit-text-stroke: #000 0.05px;
}

.titulo{
    width: 90rem;
    height: 495px;
    background: url("../assets/img/fondo-tienda.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 30%;
}

.titulo h1{
    width: 886px;
    height: 100px;
    color: #000;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Sifonn";
    font-size: 128px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px; /* 78.125% */
    text-shadow: -3px -3px 2px #ffffff, 3px 3px 2px #ffffff, -3px 3px 2px #ffffff, 3px -3px 2px #fafafa;

}

.titulo h1 span{
    width: 808px;
    height: 120px;
    color: #FFFCFC;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Sifonn";
    font-size: 128px;
    font-style: normal;
    line-height: 120px; /* 93.75% */
    letter-spacing: 25.6px;
    font-weight: bolder;
}

.Tienda{
    width: 1440px;
    height: 1436px;
    border-radius: 136px;
    border: 5px solid #020202;
    background: #8D8175;
}

.Tienda h2{
    width: 557px;
height: 273px;
color: #FFF;
text-align: center;
font-family: "Sifonn";
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: 120px; /* 125%*/
letter-spacing: 9.6px;
}

.titulo-nosotros{
    width: 677px;
    height: 159px;
    border-radius: 50px;
    border: 8px solid #000;
    background: #8D8175;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1.25rem;
}

.titulo-nosotros h2{
    width: 596px;
    height: 73px;
    color: #ffffff;
    text-align: center;
    font-family: Sifonn;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-shadow: -2px -2px 1px #ffffff, 2px 2px 1px #ffffff, -2px 2px 1px #ffffff, 2px -2px 1px #ffffff;

}

.container-parrafo{
    width: 667px;
    height: 592px;
    border-radius: 50px;
    border: 8px solid #000;
    background: #8D8275;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin : 1.25rem;
}

.container-parrafo p{
    width: 665px;
    height: 518px;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.newsletter{
    width: 667px;
    height: 592px;
    border-radius: 50px;
    border: 8px solid #000;
    background: #8D8275;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1.25rem;
}

.opinion{
    width: 1313px;
    height: 429px;
    border-radius: 50px;
    border: 8px solid #000;
    background: #8D8275;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 1.25rem;
}

.form label{
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.datos{
    width: 591px;
    height: 77px;
    border: 4px solid #000;
    background: #FFFCFC;
    margin: 0 38px ;
}

.input-opinion{
    width: 1163px;
    height: 174px;
    border: 4px solid #000;
    background: #FFFCFC;
    margin: 0 75px;
    font-size: medium;
}

.boton-enviar{
    width: 77px;
    height: 75px;
}

.login {
    width: 1096px;
    height: 789px;
    border-radius: 50px;
    border: 8px solid #000;
    background-image: url("../assets/img/fondo-login.PNG");
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover ;
}

.login h1{
    width: 646px;
    height: 49px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login div form label{
    width: 447px;
    height: 49px;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.boton-continuar{
    width: 260px;
    height: 77px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30px;
    border: 4px solid #000;
    background: #ECB528;
}

.login div h3{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.login-section2{
    width: 499px;
    height: 96px;
    border-radius: 50px;
    border: 8px solid #000;
    background: url("../assets/img/fondo-login.PNG");
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-section2 h2 a{
    width: 494px;
    height: 96px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
    text-decoration: none; 
}

.titulo-carrito{
    width: 551px;
    height: 95px;
    border-radius: 50px;
    border: 4px solid #000;
    background: #8D8175;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 526px;
    height: 95px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.carrito section ul{
    width: 735px;
    height: 877px;
    border-radius: 50px;
    border: 4px solid #000;
    background: #8D8275;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.carrito section ul li img{
    width: 206px;
    height: 138px;
}

.carrito ul li h3{
    width: 269.206px;
    height: 46.525px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.precio-carrito{
    width: 160px;
    height: 60px;
    border-radius: 80px;
    border: 2px solid #000;
    background: rgba(143, 96, 96, 0.50);
}

.precio-carrito h4{
    width: 154px;
    height: 65px;
    color: #FFF;
    text-align: center;
    font-family: League Spartan;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.carrito h2{
    width: 426px;
    height: 63px;
    border-radius: 50px;
    border: 4px solid #000;
    background: #8D8175;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resumen{
    width: 426px;
height: 274px;
border-radius: 50px;
border: 4px solid #000;
background: #8D8275;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.resumen div h3{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: League Spartan;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*FOTTER*/

footer{
    width: 1440px;
    height: 48px;
    padding: 4px 0px;
    flex-shrink: 0;
    border-top: 1px solid #000;
    background: #C3AF96;
}

footer img{
    width: 40px;
    height: 40px;
}